<h1>Student Profile</h1>

<p><%= link_to "Back to Students", students_path %></p>


<% if @student %>
  <div class="student_thumb_photo">
    <%= image_tag @student.photo.url(:thumb) %>
  </div>
  <p><span>First name:</span> <%= @student.fname %></p>
  <p><span>Last name:</span> <%= @student.lname %></p>
  <p><span>Email:</span> <%= @student.email %></p>
  <p><span>Phone:</span> <%= @student.phone %></p>
  <p><span>Status:</span> <%= @student.status %></p>
<% else %>
  <p> Student not found </p>
<% end %>
<p><%= link_to "Edit Student", edit_student_path(@student) %></p>




<h2>Courses</h2>
<ul>
  <% @student.courses.each do |course| %>
    <li><%= course.name %></li>
  <% end %>
</ul>

<h2> Projects </h2>

<ul>
  <% @student.projects.each do |project| %>
    <li><%= project.name %></li>
  <% end %>  
</ul>
